/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* reset css  */
* {
    box-sizing: border-box;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
}

/* default css  */
body {
    font-size: 'Montserrat', sans-serif;
    color: #222;
    font-size: 15px;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

/* entire layout  */

.cd-section {
    height: 100vh;
}

.cd-section>div {
    height: 100%;
    position: relative;
}

.content {
    background-color: #ddd;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* header  */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.gnb-inner {
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 20px;
    overflow: hidden q;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.menu {
    display: none;
}

/* trigger  */
.trigger {
    display: none;
}

/* hiring  */
.btn_hiring {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #fff;
    padding: 10px 20px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.btn_hiring .fa {
    transform: rotateY(180deg);
    margin-right: 5px;
}

.btn_hiring:active {
    transform: scale(0.6);
}